<div class="card-group mx-3">
    <div *ngFor="let Tueur of Liste_tueur">
        <div class="card bg-dark text-center mx-3 border border-secondary border-3" style="width: 15rem;">
            <img src={{Tueur.WikiPhoto}} class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-danger">{{Tueur.nom}}</h5>
            <p class="card-text text-white">{{Tueur.description}}</p>
            </div>
            <ul class="list-group list-group-flush bg-dark">
            <li class="list-group-item bg-dark text-white">{{Tueur.crime}}</li>
            <li class="list-group-item bg-dark text-white">{{Tueur.date}}</li>
            <li class="list-group-item bg-dark text-white">{{Tueur.lieu}}</li>
            </ul>
            <div class="card-body">
            <a href={{Tueur.WikiLink}} class="card-link">Wikipedia</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
   </div>
</div>