/* Adaptative card pour petits écrans */
@media (min-width: 200px) {
    .cards-container {
        column-count: 1;
        column-gap: 20px;
    }

    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: 100%;
    }
}

/* Adaptative card pour moyens écrans */
@media (min-width: 576px) {
    .cards-container {
        column-gap: 20px;
    }

    /* Exception pour une seule affaire */
    .cards-container[data-count="1"] {
        column-count: 1;
    }

    /* Les autres cas */
    .cards-container:not([data-count="1"]) {
        column-count: 2;
    }

    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: 300%;
    }
}

/* Adaptative card pour grands écrans */
@media (min-width: 1000px) {
    .cards-container {
        column-gap: 20px;
    }

    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: 400%;
    }

    /* Exception pour une seule affaire */
    .cards-container[data-count="1"] {
        column-count: 1;
    }

    /* Exception pour deux affaires */
    .cards-container[data-count="2"] {
        column-count: 2;
    }

    /* Les autres cas */
    .cards-container:not([data-count="1"]):not([data-count="2"]) {
        column-count: 3;
    }

}