@media (min-width: 100px) {
    .card-columns {
        column-count: 1;
        column-gap: 20px;
    }

    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: auto;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
        column-gap: 20px;
    }

    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: 200%;
    }
}

.card-columns {
    column-count: 3;
    column-gap: 20px;
}

.card {
    display: inline-block;
    margin: 0 0 20px;
    width: 400%;
}