<div class="card-group mx-3">
    <div class="card bg-dark text-center mx-3 border border-secondary border-3" style="width: 15rem;">
        <img src="https://ds.static.rtbf.be/article/image/1239x1920/8/1/c/60a97effccb58b6d49e515cd2b20858a-1343728964.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title text-danger">Marc Dutroux</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush bg-dark">
        <li class="list-group-item bg-dark text-white">Assasinats</li>
        <li class="list-group-item bg-dark text-white">Viols sur mineurs</li>
        <li class="list-group-item bg-dark text-white">Séquestrations</li>
        </ul>
        <div class="card-body">
        <a href="https://fr.wikipedia.org/wiki/Marc_Dutroux" class="card-link">Wikipedia</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <div class="card bg-dark text-center mx-3 border border-danger border-3" style="width: 15rem;">
        <img src="https://ds.static.rtbf.be/article/image/1239x1920/8/1/c/60a97effccb58b6d49e515cd2b20858a-1343728964.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title text-danger">Marc Dutroux</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush bg-dark">
        <li class="list-group-item bg-dark text-white">Assasinats</li>
        <li class="list-group-item bg-dark text-white">Viols sur mineurs</li>
        <li class="list-group-item bg-dark text-white">Séquestrations</li>
        </ul>
        <div class="card-body">
        <a href="https://fr.wikipedia.org/wiki/Marc_Dutroux" class="card-link">Wikipedia</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <div class="card bg-dark text-center mx-3 border border-danger border-3" style="width: 15rem;">
        <img src="https://ds.static.rtbf.be/article/image/1239x1920/8/1/c/60a97effccb58b6d49e515cd2b20858a-1343728964.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title text-danger">Marc Dutroux</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush bg-dark">
        <li class="list-group-item bg-dark text-white">Assasinats</li>
        <li class="list-group-item bg-dark text-white">Viols sur mineurs</li>
        <li class="list-group-item bg-dark text-white">Séquestrations</li>
        </ul>
        <div class="card-body">
        <a href="https://fr.wikipedia.org/wiki/Marc_Dutroux" class="card-link">Wikipedia</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>