@media (min-width: 200px) {
    .card-columns {
        column-count: 1;
        column-gap: 20px;
    }

    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
        column-gap: 20px;
    }

    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: 300%;
    }
}

@media (min-width: 1000px){
    .card-columns {
        column-count: 3;
        column-gap: 20px;
    }
    
    .card {
        display: inline-block;
        margin: 0 0 20px;
        width: 400%;
    }
}
