p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:inherit;
    text-shadow: shadow-1-strong ;
    text-justify:inherit;
    text-size-adjust: 20px ;
    color:aliceblue;
    font-size: 150%;
}