   .bg-image {
    /* The image used */
    background-image: url("https://tinyurl.com/42dee49v");

    background-position: top;
    background-repeat: repeat;
    background-size: 100%;
  
    /* Full height */
    height: 210vh;
  } 

  .blur{
    backdrop-filter: blur(10px) saturate(70%);
  }
  