<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <img class="fit-picture" src="https://image.noelshack.com/fichiers/2023/11/6/1679098123-1677667210-image1.png"
            HSPACE="10">
        <a class="navbar-brand" href="#">Meurtre & Moselle</a>
        <li class="nav-item"><button (click)="showPopup = true">ABOUT US</button></li>


        
    </div>
</nav>

<!-- Popup -->
<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
        <span class="close" (click)="showPopup = false">&times;</span>
        <h4>Institut Claude Chappe - Le Mans Université</h4>
        <h5>L3 Informatique : 2022-2023</h5>
        <p>Equipe de 4 étudiants : </p>
        <ul class="ul-popup">
            <li> Cyprien Pennachi </li>
            <li> Maël Vassenet </li>
            <li> Pierre Rocher </li>
            <li> Killian Rattier </li>
        </ul>
    </div>
</div>