/* Polices d'écriture pour la balise h1 */
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-size-adjust: mb3;  
}

/* Polices d'écriture pour la balise p */
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    text-shadow: shadow-1-strong ;
    text-justify:inherit;
    text-size-adjust: 20px ;
    font-size: 120%;
}